<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>gfdgd xi</vendor>
  <vendor_url>https://gitee.com/gfdgd-xi/uengine-runner/</vendor_url>
  <action id="com.deepin.pkexec.installscrcpy">
    <message>Authentication is required to Install Scrcpy</message>
    <message xml:lang="zh_CN">安装 Scrcpy 需要输入密码</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/tmp/uengine-runner/InstallScrcpy.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>