[Desktop Entry]
Name=wine 运行器
Version=1.4.0
Exec=/usr/bin/deepin-wine-runner
Icon=/opt/apps/deepin-wine-runner/icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=System;Wine;
