[Desktop Entry]
Type=Application
Encoding=UTF-8
Categories=System;Wine;
Version=1.7.0
Exec=/opt/apps/deepin-wine-runner/RunVM.sh %F
Icon=/opt/apps/deepin-wine-runner/icon.png
Name=Setting VirtualMachine
Name[zh]=设置虚拟机
Comment=Setting VirtualMachine
Comment[zh]=设置虚拟机
Terminal=false
StartupNotify=true
