Source: qemu-system-deep-wine-runner
Section: unknown
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/qemu-system-deep-wine-runner
#Vcs-Git: https://salsa.debian.org/debian/qemu-system-deep-wine-runner.git

Package: qemu-system-deep-wine-runner
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
