Source: qemu-system-deep-wine-runner
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 9),
 python3-pip,
 git,
Standards-Version: 4.6.2
Homepage: https://gitee.com/gfdgd-xi/deep-wine-runner

Package: qemu-system-deep-wine-runner
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 spark-deepin-wine-runner,
Description: Qemu extra for Wine Runner Virtual Machine Tool
