Package: spark-deepin-wine-runner
Version: 2.6.0
Maintainer: gfdgd xi <3025613752@qq.com>, 为什么您不喜欢熊出没和阿布呢
Homepage: https://gitee.com/gfdgd-xi/deep-wine-runner, https://github.com/gfdgd-xi/deep-wine-runner, https://gitlink.org.cn/gfdgd_xi/deep-wine-runner
Architecture: all
Priority: optional
Depends: python3, python3-pil, python3-pil.imagetk, python3-pyquery, aria2, curl, unrar, unzip, python3-requests, fakeroot, bash, python3-pyqt5, python3-psutil, deepin-terminal | mate-terminal | gnome-terminal | xfce4-terminal, python3-dbus, python3-pip, p7zip-full, sudo
Recommends: winbind, wimtools, python3-pyqt5.qtwebengine
Section: utils
Conflicts: spark.deepin-venturi-setter, spark-deepin-wine5-application-packer
Replaces: spark.deepin-venturi-setter, spark-deepin-wine5-application-packer
Installed-Size: 23904
Description: gfdgd xi、为什么您不喜欢熊出没和阿布呢 制作的 wine 运行器
 2.5.0 更新内容：
 ※1、容器自动配置脚本 GUI 查看介绍使用 QWebEngineWidget，支持图片（非强制依赖，只做推荐）；
 ※2、不基于生态适配活动脚本打包器跟进 arm 架构 2022年11月11日的 Wine 微信打包方式；
 ※3、支持多图标的程序打包；
 ※4、修复了安装更多 Wine 换源换了个寂寞的问题；
 ※5、修复安装更多 Wine 重新安装后列表丢失的问题；
 ※6、新增了对 Deepin 23 Alpha 优化的 Wine 安装器；
 ※7、新增 Dll 名称查询功能，可以查询对应 Dll 的作用；
 ※8、支持静态获取可执行文件可以调用的 Dll 并提供解决方案；
 ※9、支持移除指定的 .desktop 快捷方式；
 ※10、新增日志分析功能以及导出、上传日志功能；
 11、修复了不基于生态适配活动脚本打包器在选择 arm 打包架构下容器自动删除脚本取消勾选无用的问题；
 12、优化文案、新增友链；
 13、提供了部分组件的测试功能。
 更新时间：2022年11月25日
 作者：gfdgd xi、为什么您不喜欢熊出没和阿布呢
