[Desktop Entry]
Type=Application
X-Categories=System;Wine;
Exec=/data/data/com.termux/files/usr/bin/deepin-wine-packager-easy-builder %F
Icon=/data/data/com.termux/files/usr/opt/apps/deepin-wine-runner/deepin-wine-runner.svg
Name=Wine Package Builder
Name[zh]=Wine 简易打包器
Terminal=false
StartupNotify=true
NoDisplay=true
Keywords=exe;scr;
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
