[Desktop Entry]
Type=Application
X-Categories=System;
Exec=/data/data/com.termux/files/usr/opt/apps/deepin-wine-runner/StartVM.sh %F
Icon=/data/data/com.termux/files/usr/opt/apps/deepin-wine-runner/deepin-wine-runner.svg
Name=Start Windows VirtualMachine
Name[zh]=开启 Windows 虚拟机
Terminal=false
StartupNotify=true
