Source: @deb_package_name@
Section: non-free/otherosfs
Priority: optional
Maintainer: @deb_packager@
Build-Depends: debhelper (>= 3.0), fakeroot
Standards-Version: 3.7.3.0
Package: @deb_package_name@
Depends: @package_depends@
Architecture: i386
Recommends: libcapi20-3, libcups2, libdbus-1-3, libfontconfig1, libfreetype6, libglu1-mesa | libglu1, libgnutls30 | libgnutls28 | libgnutls26, libgsm1, libgssapi-krb5-2, libjpeg62-turbo | libjpeg8, libkrb5-3, libodbc1, libosmesa6, libpng16-16 | libpng12-0, libsane | libsane1, libsdl2-2.0-0, libtiff5, libv4l-0, libxcomposite1, libxcursor1, libxfixes3, libxi6, libxinerama1, libxrandr2, libxrender1, libxslt1.1, libxxf86vm1
Replaces: @old_package@
Provides: @old_package@
Conflicts: @old_package@
Multi-Arch: foreign
Description:  @app_description@
Version:@deb_version_string@
