#!/bin/sh

case $1 in
    "install")
        if [ ! -z "$2" ]; then
            echo "try to install from version $2"
        else
            echo "normal install"
        fi
        ;;
    "upgrade")
        echo "upgrade from version $2"
        ;;
    "abort-upgrade")
        echo "Old: abort upgrade to version $2"
        ;;
    *)
esac

# Make sure the script returns 0
true

#DEBHELPER#
