[Desktop Entry]
Type=Application
X-Categories=System;
Exec=bookworm-run /opt/apps/deepin-wine-runner/StartVM.sh %F
Icon=/opt/apps/spark-deepin-wine-runner-ace/deepin-wine-runner.svg
Name=Start Windows VirtualMachine
Name[zh]=开启 Windows 虚拟机
Terminal=false
StartupNotify=true
