[Desktop Entry]
Type=Application
X-Categories=System;Wine;
Exec=bookworm-run /opt/apps/deepin-wine-runner/RunVM.sh %F
Icon=/opt/apps/spark-deepin-wine-runner-ace/deepin-wine-runner.svg
Name=Setting VirtualMachine
Name[zh]=设置 Windows 虚拟机
NoDisplay=true
Terminal=false
StartupNotify=true
