[Desktop Entry]
Type=Application
X-Categories=System;Wine;
Exec=@programPath@/key-get.py
Icon=@programPath@/../deepin-wine-runner.svg
Name=Wine Runner
Name[zh]=Wine 运行器快捷键服务
Terminal=false
StartupNotify=true
Keywords=exe;scr;
